<div class="site-instagram">
    <div class="action">
      <a class="btn btn-light" href="#">
        From USA with 🥰
      </a>
    </div>
    <div class="row no-gutters">
      <div class="col-sm-6">
        <div class="row no-gutters">
          <div class="col-6">
            <a class="photo" href="#">
              <img class="img-fluid" src="/static/images/OregonCoastline.jpg" alt="" />
            </a>
          </div>
          <div class="col-6">
            <a class="photo" href="#">
              <img class="img-fluid" src="/static/images/BrooklynBridge.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row no-gutters">
          <div class="col-6">
            <a class="photo" href="#">
              <img class="img-fluid" src="/static/images/GoldenGateBridge.jpg" alt="" />
            </a>
          </div>
          <div class="col-6">
            <a class="photo" href="#">
              <img class="img-fluid" src="/static/images/OregonCoastlineInTheMist.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="site-footer bg-darkest" role="contentinfo">
    <div class="container">
      <div class="copy">
        &copy; Pascal Lombardet<br />
        All rights reserved
      </div>
    </div>
  </footer>


